@font-face {
  font-family: "Renogare";
  src: local("Renogare"), url(Renogare.otf);
}
body {
  background-color: rgb(219, 219, 219);
}

.section {
  position: absolute;
  width: 300px;
  height: 77vh;
  left: 40%;
  top: 20%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px black;
  box-shadow: 7px 7px 15px -5px rgba(0, 0, 0, 0.75);
}
.section .tarjeta {
  position: absolute;
  width: 100%;
  height: 70vh;
  bottom: 0;
  border-radius: 10px;
  background: rgb(0, 50, 125);
  background: linear-gradient(35deg, rgb(0, 50, 125) 0%, rgb(0, 162, 255) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section .tarjeta .tipografia {
  position: absolute;
  text-align: center;
  font-family: "Renogare";
  color: white;
  top: 0;
}
.section .tarjeta .tipografia .hora {
  font-size: 50px;
  text-shadow: 0 1px 0px rgb(83, 83, 83), 1px 0 0px rgb(83, 83, 83), 1px 2px 1px rgb(83, 83, 83), 2px 1px 1px rgb(83, 83, 83), 2px 2px 2px rgba(206, 89, 55, 0);
}
.section .tarjeta .tipografia .dia {
  position: relative;
  top: -10px;
  text-align: center;
  font-size: 15px;
  width: auto;
  text-shadow: 0 1px 0px rgb(83, 83, 83), 1px 0 0px rgb(83, 83, 83), 1px 2px 1px rgb(83, 83, 83), 2px 1px 1px rgb(83, 83, 83), 2px 2px 2px rgba(206, 89, 55, 0);
}
.section .tarjeta .tipografia .linea {
  border-top: 1px solid white;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
  height: 0px;
  width: 250px;
  left: 0px;
}
.section .tarjeta .tipografia #iconos {
  position: relative;
  top: 25px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  filter: brightness(0) invert(1);
}
.section .tarjeta .tipografia .texto {
  position: relative;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(207, 207, 207);
}
.section .tarjeta .tipografia .texto #grados {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0px rgb(83, 83, 83), 1px 0 0px rgb(83, 83, 83), 1px 2px 1px rgb(83, 83, 83), 2px 1px 1px rgb(83, 83, 83), 2px 2px 2px rgba(206, 89, 55, 0);
}
.section .tarjeta .tipografia .texto .texto2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section .tarjeta .tipografia #nombre {
  position: relative;
  top: 20px;
  color: rgb(207, 207, 207);
}
.section .tarjeta .tipografia #ciudadinput {
  position: relative;
  top: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white;
  border-bottom: 2px solid white;
  outline: none;
  font-size: large;
  text-align: center;
}
.section .tarjeta .tipografia #ciudadinput::-moz-placeholder {
  color: white;
}
.section .tarjeta .tipografia #ciudadinput::placeholder {
  color: white;
}
.section .tarjeta .tipografia .ajax {
  z-index: 9;
  width: 100;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-color: red;
  border-style: solid;
  border-width: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icons {
  display: none;
}

button {
  border: 0;
}
button:focus {
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .btn {
  margin-top: -10px;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 162, 255, 0);
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
.container .btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}
.container .btn:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.02);
}
.container .btn:active:after {
  box-shadow: inset 0px -2px 5px rgb(255, 255, 255), inset 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.container .btn.active.play-pause .icon.pause {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.container .btn.active.play-pause .icon.play {
  opacity: 0;
  transform: translate(-50%, 50%);
}
.container .btn .icon-container,
.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .btn a {
  z-index: 10;
}
.container .btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  fill: #d4d4d4;
  height: 1.4rem;
  vertical-align: middle;
  width: 1.4rem;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container .btn.play-pause .icon.pause {
  opacity: 0;
  transform: translate(-50%, 50%);
}

.textoradio {
  animation-name: somename;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  float: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.artistatextoradio {
  animation-name: somename;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  float: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.color {
  height: 20px;
  width: 250px;
  overflow: hidden;
  overflow: hidden;
  padding-top: 10px;
}

@keyframes somename {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
@keyframes asomename {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=tiempo.css.map */